      <!-- Top Bar -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
      <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-bluegray-lineargradient g-py-11">
        <div class="container">
          <div class="row flex-column flex-md-row align-items-right justify-content-between text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
            <div class="col-auto g-px-15">
              <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/login" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Login</a>
                </li>
                <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/register" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="true"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar"
            >
              <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>

            <!-- Logo -->
						<a href="/" class="navbar-brand">
              <h3 class="h4 g-color-black g-font-weight-600 text-uppercase g-mb-2"> <span class="g-color-black">Hire</span> <span class="g-color-blue">Vets</span></h3>
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
              <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                <li class="nav-item g-mx-20--lg">
                  <a href="#" class="nav-link px-0">Home
              </a>
                </li>
                <li class="nav-item g-mx-20--lg">
                  <a href="#" class="nav-link px-0">Find a job
              </a>
                </li>
                <li class="nav-item g-mx-20--lg active">
                  <a href="#" class="nav-link px-0">Find Resumes
                <span class="sr-only">(current)</span>
              </a>
                </li>
                <li class="nav-item g-mx-20--lg">
                  <a href="#" class="nav-link px-0">Post a job
              </a>
                </li>
              </ul>
            </div>
            <!-- End Navigation -->

          </div>
        </nav>
      </div>
    </header>
