      <!-- Top Bar -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
      <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-bluegray-lineargradient g-py-11">
        <div class="container">
            <!-- Logo -->
						<a href="/" class="navbar-brand">
              <h3 class="h4 g-color-black g-font-weight-600 text-uppercase g-mb-2"> <span class="g-color-white">Hire</span> <span class="g-color-blue">Vets</span></h3>
            </a>
            <!-- End Logo -->

          <div class="row flex-column flex-md-row align-items-right justify-content-between text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
            <div class="col-auto g-px-15">
              <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/login" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Find your job</a>
                </li>
                <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/register" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Find resumes</a>
                </li>
                <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/register" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Post a job</a>
                </li>
              </ul>
            </div>
            <div class="col-auto g-px-15">
              <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/register" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Login</a>
                </li>
                <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                <li class="list-inline-item g-mx-4 g-mt-10">
                  <a href="/users/register" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Register</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </header>
