    <!-- Promo Block - Parallax -->
		<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;reverse&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}">
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after " style="height: 100%; background-image: url(/static/images/BlueDoor.png); transform: translate3d(0px, -39.6538px, 0px);"></div>
      <!-- End Parallax Image -->

      <div class="container u-bg-overlay__inner text-center g-py-100 g-py-160--md">
        <h2 class="h1 g-color-white g-font-weight-600 text-uppercase g-mb-30">Discover <span class="g-color-primary">your</span> dream jobs</h2>

        <!-- Search Form -->
        <form>
          <div class="row justify-content-center g-mb-20 g-mb-0--lg">
            <div class="col-lg-4">
              <div id="form-icon-magnifier" class="input-group u-shadow-v21 g-bg-white rounded g-mb-15">
                <div class="input-group-addon g-font-size-16 g-color-gray-light-v1 border-0">
                  <i class="icon-magnifier g-pos-rel g-top-1 g-px-1"></i>
                </div>
                <input class="form-control form-control-md g-font-size-16 border-0 g-pl-2 g-py-15" type="text" placeholder="Job Title or Skills" aria-label="Job Title or Skills" aria-describedby="form-icon-magnifier">
              </div>
            </div>

            <div class="col-lg-4">
              <div class="input-group u-shadow-v21 g-bg-white rounded g-mb-15">
                <div id="form-icon-location-pin" class="input-group-addon g-font-size-16 g-color-gray-light-v1 border-0">
                  <i class="icon-location-pin g-pos-rel g-top-1 g-px-1"></i>
                </div>
                <input class="form-control form-control-md g-font-size-16 border-0 g-pl-2 g-py-15" type="text" placeholder="City, Zip or Country" aria-label="City, Zip or Country" aria-describedby="form-icon-location-pin">
              </div>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-md btn-block u-btn-primary u-shadow-v21 text-uppercase g-py-14" type="submit">Search</button>
            </div>
          </div>

          <small class="form-text g-font-size-default">Search any type of work and much more..</small>
        </form>
        <!-- End Search Form -->
      </div>
    </section>
